/* coding with nick */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
.bodyy{
  background-color: #0d69f3;
  /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%); */
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.42) 0px 7px 29px 0px;
  width: 600px;
  overflow: hidden;
  margin-left: 30%;
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button{
  background-color: #0084ff;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #000000;
}
button:focus{
  outline: none;
  background-color: #0385ff;
}