*{
    margin: 0;
    padding: 0;
}
/* Base */
html{
    overflow-x: hidden;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
  
.font-size-10 {
    font-size: 10px;
}
  
.font-size-11 {
    font-size: 11px;
}
  
.font-size-12 {
    font-size: 12px;
}
  
.font-size-13 {
    font-size: 13px;
}
  
.font-size-14 {
    font-size: 14px;
}
  
.font-size-15 {
    font-size: 15px;
}
  
.font-size-16 {
    font-size: 16px;
}
  
.font-size-17 {
    font-size: 17px;
}
  
.font-size-18 {
    font-size: 18px;
}
  
.font-size-19 {
    font-size: 19px;
}
  
.font-size-20 {
    font-size: 20px;
}
  
.font-size-21 {
    font-size: 21px;
}
  
.font-size-22 {
    font-size: 22px;
}
  
.font-size-23 {
    font-size: 23px;
}
  
.font-size-24 {
    font-size: 24px;
}
  
.font-size-25 {
    font-size: 25px;
}
  
.font-size-26 {
    font-size: 26px;
}
  
.font-size-27 {
    font-size: 27px;
}
  
.font-size-28 {
    font-size: 28px;
}
  
.font-size-29 {
    font-size: 29px;
}
  
.font-size-30 {
    font-size: 30px;
}
  
.font-gray-1 {
    color: #f7f7f7;
}
  
.font-gray-2 {
    color: #e9e9e9;
}
  
.font-gray-3 {
    color: #d9d9d9;
}
  
.font-gray-4 {
    color: #c9c9c9;
}
  
.font-gray-5 {
    color: #b8b8b8;
}
  
.font-gray-6 {
    color: #a8a8a8;
}
  
.font-gray-7 {
    color: #939393;
}
  
.font-gray-8 {
    color: #7b7b7b;
}
  
.font-gray-9 {
    color: #636363 #4d4d4d;
}
  
.font-gray-10 {
    color: #353535;
}
  
.border-gray-1 {
    border-color: #f7f7f7;
}
  
.border-gray-2 {
    border-color: #e9e9e9;
}
  
.border-gray-3 {
    border-color: #d9d9d9;
}
  
.border-gray-4 {
    border-color: #c9c9c9;
}
  
.border-gray-5 {
    border-color: #b8b8b8;
}
  
.border-gray-6 {
    border-color: #a8a8a8;
}
  
.border-gray-7 {
    border-color: #939393;
}
  
.border-gray-8 {
    border-color: #7b7b7b;
}
  
.border-gray-9 {
    border-color: #636363 #4d4d4d;
}
  
.border-gray-10 {
    border-color: #353535;
}
  
.bg-gray-1 {
    border-color: #f7f7f7;
}
  
.bg-gray-2 {
    border-color: #e9e9e9;
}
  
.bg-gray-3 {
    border-color: #d9d9d9;
}
  
.bg-gray-4 {
    border-color: #c9c9c9;
}
  
.bg-gray-5 {
    border-color: #b8b8b8;
}
  
.bg-gray-6 {
    border-color: #a8a8a8;
}
  
.bg-gray-7 {
    border-color: #939393;
}
  
.bg-gray-8 {
    border-color: #7b7b7b;
}
  
.bg-gray-9 {
    border-color: #636363 #4d4d4d;
}
  
.bg-gray-10 {
    border-color: #353535;
}
  
.letter-spacing-1 {
    letter-spacing: 0.1em;
}
  
.letter-spacing-2 {
    letter-spacing: 0.2em;
}
  
.border-w-1 {
    border-width: 1px;
}
  
.border-w-2 {
    border-width: 2px;
}
  
.border-w-3 {
    border-width: 3px;
}
  
.border-w-4 {
    border-width: 4px;
}
  
.border-w-5 {
    border-width: 5px;
}
  
.primary-black--hover {
    background: #0779e4;
    color: #fff;
}
  
.primary-black--hover:hover {
    background: #000;
    color: #fff;
}
  
.primary-dark--hover {
    background: #0779e4;
    color: #fff;
}
  
.primary-dark--hover:hover {
    background: gray;
    color: #fff;
}
  
.primary-primary-outline--hover {
    background: #0779e4;
    color: #fff;
}
  
.primary-primary-outline--hover:hover {
    border-color: #0779e4;
    background: transparent;
}
  
.primary-outline-primary--hover {
    background: transparent;
    border-color: #0779e4;
}
  
.primary-outline-primary--hover:hover {
    color: #fff;
    background: #0779e4;
}
body {
    line-height: 1.7;
    color: #364d59 !important;
    font-weight: 300;
    font-size: 1rem;
    background: #fff;
  }
  
  ::-moz-selection {
    background: #000;
    color: #fff;
  }
  
  ::selection {
    background: #000;
    color: #fff;
  }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-weight: 300;
    color: #364d59;
  }



/* Navbar */
.site-navbar {
    margin-bottom: 0px;
    z-index: 9;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem;
    /* background-color: #0779e4; */
}
.site-navbar .toggle-button {
    position: absolute;
    right: 0px;
  }
  
  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    /* background-color: #353535; */
  }
  
  .site-navbar .site-logo strong {
    font-weight: 700;
  }
  
  .site-navbar .site-logo a {
    color: #ffffff;
  }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important;
  }
  
  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-left: 50%;
    /* background-color: #353535; */
  }
  
  .site-navbar .site-navigation .site-menu .active {
    color: #0779e4 !important;
  }
  
  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }
  
  .site-navbar .site-navigation .site-menu>li {
    display: inline-block;
  }
  
  .site-navbar .site-navigation .site-menu>li>a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    text-decoration: none !important;
  }
  
  .site-navbar .site-navigation .site-menu>li>a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .site-navbar .site-navigation .site-menu>li.active>a {
    color: #fff;
    position: relative;
  }
  
  .site-navbar .site-navigation .site-menu>li.active>a:before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background: #fff;
  }
  

  /* Blocks */
.site-section-cover {
    background-image: url('images/hero_bg.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* filter: brightness(100%); */
  }
  
  .site-section-cover,
  .site-section-cover .container {
    position: relative;
    z-index: 2;
  }
  
  .site-section-cover,
  .site-section-cover .container>.row {
    height: calc(100vh - 196px);
    min-height: 577px;
  }
  .site-section-cover.overlay {
    position: relative;
  }
  
  .site-section-cover.overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .site-section-cover.inner-page,
.site-section-cover.inner-page .container>.row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}
.site-section-cover.img-bg-section {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .site-section-cover h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
  }
  
  .site-section-cover h1 strong {
    font-weight: 900;
  }
  .site-section-cover p {
    font-size: 18px;
    color: #fff;
  }

  .site-section {
    padding: 70px 0;
  }


 /*Tutor*/
.box {
    padding: 20px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
  }
  
  .box .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
    margin-right: 50px;
  }
  
  .box h3 a {
    color: #000;
  }
  
  .box.small .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    margin-right: 20px;
  }
  
  .box.small .text h3 {
    font-size: 16px;
  }
  
  .box.small .text h3 a {
    color: #000;
  }
  
  .category {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
  }
  
  .tutorial-item {
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .tutorial-item .img-wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    margin-right: 30px;
  }
  
  .tutorial-item h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .tutorial-item h3 a {
    color: #000;
  }
  
  .tutorial-item *:last-child {
    margin-bottom: 0;
  }
  
  .meta {
    color: #a6a6a6;
  }
  
  .overlap {
    position: relative;
    z-index: 2;
    margin-top: -150px;
  }
  
  .heading .caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
  }
  
  .heading h2 {
    font-size: 30px;
    font-weight: 700;
    color: #0779e4;
  }
  
  .custom-pagination ul li {
    display: inline-block;
  }
  
  .custom-pagination ul li a,
  .custom-pagination ul li span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
  }
  
  .custom-pagination ul li>span {
    background: #0779e4;
    color: #fff;
  }
  
  .box-side {
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .box-side img {
    margin-bottom: 20px;
  }
  
  .box-side h3 {
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .box-side h3 a {
    color: #000;
  }
  
  .social-item {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
  }
  
  .social-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .social-item:hover {
    background: #0779e4;
    color: #fff;
  }
  
  .testimonial-2 {
    border-radius: 7px;
    background: #fff;
    padding: 30px;
    border-bottom: 4px solid #0779e4;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-2 blockquote {
    font-size: 18 px;
  }
  
  .testimonial-2 .v-card img {
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    border-radius: 50%;
  }
  
  .testimonial-2 .author-name {
    line-height: 1.3;
  }
  
  .testimonial-2 .author-name>span:nth-of-type(2) {
    color: #ccc;
  }
  
  .social li {
    display: inline-block;
  }
  
  .social li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0779e4;
    color: #fff;
    position: relative;
  }
  
  .social li a>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .social li a:hover {
    color: #fff;
  }
  
  .search-form .form-control {
    border: none;
    background: #efefef !important;
  }
  
  .search-form .form-control:focus {
    background: #e2e2e2 !important;
  }
  
  .course {
    display: block;
    padding: 20px 10px;
    background: #f8f9fa;
    color: #0779e4;
    border-radius: 4px;
    text-align: center;
  }
  
  .course h3 {
    font-size: 18px;
    color: #ccc;
    -webkit-transition: .3s color ease;
    -o-transition: .3s color ease;
    transition: .3s color ease;
  }
  
  .course .wrap-icon {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .course:hover {
    background: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .course:hover h3 {
    color: #000;
  }
  
  .custom-btn {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .tutorial-section-list li {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #e9ecef;
    position: relative;
  }
  
  .tutorial-section-list li h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .tutorial-section-list li h3 a {
    color: #000;
  }
  
  .tutorial-section-list li p {
    margin-bottom: 0;
    color: #ccc;
  }
  
  .tutorial-section-list li .play {
    padding: 3px 10px;
    border-radius: 4px;
    background: #0779e4;
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    font-size: 12px;
  }
  
  .tutorial-section-list li:hover {
    background: #f8f9fa;
  }
  
  .opa-7 {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .cta .btn {
    border-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .cta .btn:hover {
    background: #fff;
    color: #0779e4;
  }
  
  .post-entry-1 h2 {
    font-size: 20px;
  }
  
  .post-entry-1 h2 a {
    color: #000;
  }
  
  .post-entry-1 .thumbnail-link {
    display: block;
  }
  
  .custom-pagination a,
  .custom-pagination span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  
  .custom-pagination span {
    background: #efefef;
  }
  
  .custom-pagination a {
    background: #0779e4;
    color: #fff;
  }
  
  .post-entry-1 .meta {
    color: #ccc;
  }
  
  .post-entry-1 .post-entry-1-contents {
    background: #fff;
    padding: 20px;
  }
  
  .post-entry-1 .post-entry-1-contents h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .post-entry-1 .post-entry-1-contents h2 a {
    color: #000;
  }
  
  .post-entry-1 .post-entry-1-contents h2 a:hover {
    color: #0779e4;
  }
  
  .post-entry-1.person-1 {
    text-align: center;
  }
  
  .post-entry-1.person-1 img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto -45px auto;
  }
  
  .post-entry-1.person-1 .post-entry-1-contents {
    padding-top: 4rem;
  }
  
  .sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
  }
  
  .sidebar-box *:last-child {
    margin-bottom: 0;
  }
  
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .categories li,
  .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
  }
  
  .categories li:last-child,
  .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  
  .categories li a,
  .sidelink li a {
    display: block;
  }
  
  .categories li a span,
  .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
  }
  
  .categories li.active a,
  .sidelink li.active a {
    color: #000;
    font-style: italic;
  }
  
  .comment-form-wrap {
    clear: both;
  }
  
  .comment-list {
    padding: 0;
    margin: 0;
  }
  
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
  }
  
  .comment-list li .vcard {
    width: 80px;
    float: left;
  }
  
  .comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
  }
  
  .comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
  }
  
  .comment-list li .comment-body h3 {
    font-size: 20px;
    color: #000;
  }
  
  .comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
  }
  
  .comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .comment-list li .comment-body .reply:hover {
    color: #000;
    background: #e3e3e3;
  }
  
  .post-meta {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  
  .post-meta a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }